<!-- PRODUCT DETAIL MODAL -->
<div class="modal fade" id="exampleModalCenter<%=pos%>" tabindex="-1" 
  role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><%=myProduct.name%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-5">
            <img src="<%=myProduct.mediumImage%>" class="img-fluid" alt="<%=myProduct.name%>">
          </div>
          <div class="col-7">
            <p class="small"><%=myProduct.shortDescription%></p>
            <table class="table table-borderless table-sm">
            <tbody class="small">

              <% if (myProduct.stock) { %>
                <tr><td>Status:</td><td><%=myProduct.stock%></td></tr>
              <% } %>

              <% var bestPrice = ((myProduct || {}).bestMarketplacePrice || {}).price; %>
              <% if (bestPrice) { %>
                <tr><td>Price:</td><td>C$ <%=bestPrice%></td></tr>
              <% } else { %>
                <tr><td>Price:</td><td>C$ <%=myProduct.salePrice%></td></tr>
              <% } %>

              <% if (myProduct.brandName) { %>
                <tr><td>By:</td><td><%=myProduct.brandName%></td></tr>
              <% } %>

              <% if (myProduct.customerRatingImage && myProduct.numReviews && myProduct.customerRating) { %>
                <tr><td>Rating:</td><td>
                <img src="<%=myProduct.customerRatingImage%>" alt="<%=myProduct.customerRating%>">
                </td></tr>
                <tr><td>Reviews:</td><td><%=myProduct.numReviews%></td></tr>
              <% } %>

              </tr>
            </tbody>
            </table>
            <a href="<%=myProduct.productUrl%>" class="btn btn-primary btn-md" target="_blank">Check in Walmart</a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>