
<%
var first = pagination.firstId;
var last = pagination.lastId;
var curr = pagination.currId;
var next = pagination.nextId;
var cat = pagination.category;
var num = pagination.numItems;
var query = pagination.query;
var url = '';
if (!pagination.nextPage) {
  url = 'http://localhost:7000/products/search/';
} else {
  url = 'http://localhost:7000/products/category/';
}
%>
<div class="container=fluid text-secondary rounded text-center">
  <p class="small">
    <% if (!pagination.nextPage) { %>
      <%=pagination.records.toLocaleString()%> product(s) found
    <% } else { %>
      Showing current <%=num%> product(s) or less
    <% } %>
  </p>
  <p>
    <div class="pagination small">
      <!-- If the results comes from Search API -->
      <% if (!pagination.nextPage) { %>
        <% if (last != 0) { %>
          <a href="<%=url%>?id=<%=cat%>&num=<%=num%>&q=<%=query%>&first=<%=first%>&last=<%=last%>&curr=<%=curr%>&next=<%=next%>&step=left">&laquo; Previous Page</a>
        <% } %>
        <a href="<%=url%>?id=<%=cat%>&num=<%=num%>&q=<%=query%>&first=<%=first%>&last=<%=last%>&curr=<%=curr%>&next=<%=next%>&step=right">Next Page &raquo;</a>
      <!-- If the results comes from Pagination API -->
      <% } else { %>
        <a href="<%=url%><%=cat%>/page/?num=<%=num%>&first=<%=first%>&last=<%=last%>&curr=<%=curr%>&next=<%=next%>&step=left">&laquo; Previous Page</a>
        <a href="<%=url%><%=cat%>/page/?num=<%=num%>&first=<%=first%>&last=<%=last%>&curr=<%=curr%>&next=<%=next%>&step=right">Next Page &raquo;</a>
      <% } %>
    </div>
  </p>
</div>
