<section class="container mt-3 bg-light border border-info shadow rounded p-3">

    <h3 class="display-7 text-center">Products Search</h3>
  
    <!-- Filter to search for a product name or substring -->
    <div class="container-fluid mt-5">
      <form class="form-inline justify-content-center" method="post" action="/products">
        <div class="form-group mb-3 pr-2">
          <select class="form-control mr-3" id="categorySelect" name="categorySelect" required>
            <option value="" selected></option>
            <% for ( var i = 0; i < categoryList.length; i++ ) {
            %>
              <option value="<%=categoryList[i].id%>"><%=categoryList[i].name%></option>
            <% } %>
          </select>
          <label for="productName" class="sr-only">Search by name:</label>
          <input type="text" class="form-control mr-2" id="productName" 
          name="productName" placeholder="Product">
        </div>
        <button type="submit" class="btn btn-primary mb-3">Search</button>
        <div class="form-group ml-5 mb-3">
          <select class="form-control mr-3" id="numSelect" name="numSelect">
            <% for ( var j = 5; j <= 25; j+=5 ) {
              var selected = ''; 
              if (j == 25) {
                selected = 'selected';
              }
              %>
              <option <%=selected%>><%=j%></option>
            <% } %>
          </select><font class="small">results per page</font>
        </div>
      </form>
    </div>

    <!-- Product Search presentation -->
    <div class="container-fluid">
      <% if (locals.msg) { %>
        <div class="alert alert-danger text-center" role="alert"><%=locals.msg%></div>
      <% } %>
      <div class="container mt-5 mb-5">

        <h6 class="display-7"><b>Product search</b></h6>
        <p class="small pb-4">Here you can search for a product by name or just
        select a category and items per page</p>

        <h6 class="display-7"><b>Category selection</b></h6>
        <p class="small pb-4">Remember that you need to select a category or you'll
        receive a message warning about it</p>

        <h6 class="display-7"><b>Product detail modal</b></h6>
        <p class="small">After search you can click in any product to see the details
        in a modal window</p>

      </div>
    </div>
    
  </section>
