
<section class="container-fluid">

  <p class="font-weight-bold pl-3">PRODUCTS > 
  <font class="font-weight-bold text-primary"><%=pagination.categoryName.toUpperCase()%></font></p>

  <%
  if (pagination) {
    %>
    <font class="small">
    totalPages: <%=pagination.totalPages%><br>
    maxId: <%=pagination.maxId%><br>
    nextPage: <%=pagination.nextPage%><br>
    nextId: <%=pagination.nextId%><br>
    category: <%=pagination.category%><br>
    totalResults: <%=pagination.totalResults%><br>
    start: <%=pagination.start%><br>
    query: <%=pagination.query%><br>
    records: <%=pagination.records%><br>
    numItems: <%=pagination.numItems%><br>
    categoryName: <%=pagination.categoryName%>
    </font>
    <%
  }
  %>

  <%
  var myQuery = '';
  if (pagination) {
    myQuery = pagination.query
  }
  %>

  <!-- Filter to search for a product name or substring -->
  <div class="container-fluid">

    <form class="form-inline justify-content-center" method="post" action="/products">
      <div class="form-group mb-3 pr-2">
        <select class="form-control mr-3" id="categorySelect" name="categorySelect" required>
          <option value=""></option>
          <% for ( var i = 0; i < categoryList.length; i++ ) {
            var selected = '';
            if (categoryList[i].name === pagination.categoryName) {
              selected = 'selected';
            }
          %>
            <option <%=selected%> value="<%=categoryList[i].id%>"><%=categoryList[i].name%></option>
          <% } %>
        </select>
        <label for="productName" class="sr-only">Search by name:</label>
        <input type="text" class="form-control mr-2" id="productName" 
        name="productName" placeholder="Product" value="<%=myQuery%>">
      </div>
      <button type="submit" class="btn btn-primary mb-3">Search</button>
      <div class="form-group ml-5 mb-3">
        <select class="form-control mr-3" id="numSelect" name="numSelect">
          <% for ( var j = 5; j <= 25; j+=5 ) {
            var selected = ''; 
            if (j <= pagination.numItems) {
              selected = 'selected';
            }
            %>
            <option <%=selected%>><%=j%></option>
          <% } %>
        </select><font class="small">results per page</font>
      </div>
    </form>

  </div>

  <hr>
  <!-- product pagination -->
  <%- include('_prod_pagination', { pagination }) %>
  <hr>
  <div class="container-fluid">
    <div class="row">
      <%
      var limitNum = pagination.numItems;
      if (pagination.records < limitNum) {
        limitNum = pagination.records;
      }
      %>
      <% for (var i = 0; i < limitNum; i++) { %>
        <% if (i > 0 && i % 5 === 0) { %>
          <div class="w-100"></div>
        <% } %>
        <div class="col">
          <a href="#" data-toggle="modal" data-target="#exampleModalCenter<%=i%>">
            <div class="card mb-3">
              <img class="card-img-top pt-2" src="<%=products[i].thumbnailImage%>">
              <div class="card-body border-info">
                <p class="card-text">
                  <%=products[i].name.substring(0,15)%>...<br>
                  <span class="badge badge-pill badge-success"><%=products[i].stock%></span><br>
                  <% var price = ((products[i] || {}).bestMarketplacePrice || {}).price; %>
                  <% if (price) { %>
                    <span class="badge badge-pill badge-info">C$ <%=price%></span><br>
                  <% } else { %>
                    <span class="badge badge-pill badge-info">C$ <%=products[i].salePrice%></span><br>
                  <% } %>
                </p>
              </div>
            </div>
          </a>
          <!-- product detail modal window -->
          <%- include('_prod_modal', { pos:i, myProduct:products[i] }) %>
        </div>
      <% } %>
    </div>
  </div>
    
</section>